
button{ display: flex;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
      padding: 10px;
      width: 300px;
      
      background-color: gray;
      border: black solid 1px;
      text-align: center;
      margin: 8px auto;
     
      
      
    }
    #alternatives button:hover {
      background-color: #C0C0C0;
    }
    

#quiz-container{
   display: flex;
  width: 400px;
  padding: 50px;
  border: black solid 1px;
  display: flex;
  flex-direction: column;
  border: #363636 solid 1px;
  border-radius: 10px;
  background-color: white;

}
body{
  color: #363636;

   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  background : linear-gradient(30deg, rgb(1, 58, 1)0%, rgb(97, 240, 2)100% )
  }

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body h2{
  color: black;
  margin: 20px;
}
main{
  background-color: white;
  border:none;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  max-width: 300px ;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question {
  margin-bottom: 10px;
}

@media screen and (max-width: 420px) {
  #quiz-container {
    display: flex;
    width: 300px;
    
  }
 button{
  width: 200px;
 }

}